@media screen and (max-width: 1200px) {
	.user-type .btn-default {
	    padding: 10px 20px;
	}
		.explore-camp-search .explore-camp-search-wrap li {

    padding: 20px 5px;
}

}
@media screen and (max-width: 992px) {
	.search-grey-bg:after {

	display:none;
}
.pa-sidebar-follow, .pa-sidebar-follow .follow
{
	display: none;
}
.inv-search-right .input-group
{
	display:block;
}
.db-is-right:before {

	display:none;   
}
.inv-search-right 
{
	margin-top:20px;
}
 .navbar-header 
 {
        float: none;
 }
 .navbar-left,.navbar-right {
        float: none !important;
  }
  .navbar-toggle {
        display: block;
  }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-nav {
	    float: none;
	    margin: 0;
	    width: 100%;
	}
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .masthead .ec-home-brand {
    	display: none;
    }
    .navbar-transparent .ec-navbar-brand, .ec-navbar-brand {
    	display: inline-block;
    	float: none;
    }
    .navbar-header {
    	text-align: center;
    	position: relative;
    }
    .navbar-transparent nav.affix {
    	position: static;
		width: auto;
		top: 0;
    }
    .navbar-collapse.navbar-push-right {
    	height: 100% !important;
    	background-color: #171717;
    	padding: 15px !important;
    	border: none;
    	margin: 0;
    }
    .navbar-default .ec-navbar-right >li {
    	margin-left: 0;
    }
    .navbar-default .navbar-push > ul > li {
    	border-bottom: 1px dotted #252525;
    }
    .navbar-default .navbar-push > ul > li > a {
	    border: none;
	    text-transform: none;
	    font-size: 15px;
	    color: #929292;
	    padding: 15px 5px;
    }
    .navbar-default .navbar-push > ul > li > a:hover, .navbar-default .navbar-push > ul > li > a:focus {
	   color: #ffffff;
	   background-color: transparent;
    }
    .navbar-transparent nav.affix .ec-navbar {
	    float: none;
	}
	.navbar-default .ec-navbar > li > a:hover::before, .navbar-default .ec-navbar > li > a:focus::before {
	    text-shadow: none;
	    display: none;
	}
	.suburbs-list .suburbs-item .suburbs-name h2 {
		font-size: 25px;
	}
	.page-title h1 {
	    margin-bottom: 30px;
	    font-size: 30px;
	}
	.section-mar {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.user-type .btn-default {
	    padding: 10px 15px;
	}
	.first-footer, .second-footer {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.masthead .slider-text h2 {
	    font-size: 35px;
	}
	.masthead .slider-text p {
	    font-size: 20px;
	}
	.home-search-area {
	    margin-top: 50px;
	}
	.home-search-area .textbox-search input[type="text"] {
	    width: 350px;
	}
	
	.pro-tab {
	    position: relative;
	    top: 0px;
	}
	.tab-white-box {
	   
	    padding-bottom: 0px;
	}



	.faqs-right:before {
	    display: none;
	}
	.faqs-left, .faqs-right {
	    padding-bottom: 50px;
	}
	.faqs-left {
	    padding-bottom: 0px;
	}
	.faqs-sidemenu ul li:last-child {
	    border-bottom: 1px solid #e1e1e1;
	}
	.page-title h2 {
	    font-size: 30px;
	}
	.hiw-video-text .page-title {
	    text-align: center;
	}
	.hiw-section .hiw-section-item .item-left, .hiw-section .hiw-section-item .item-right {
	    text-align: center;
	}
	.hiw-section .hiw-section-item .item-right {
	    margin-top: 20px;
	}
	.hiw-section .hiw-section-item .item-right h2 {
	    margin-bottom: 15px;
    	font-size: 30px;
	}
	.hiw-section .hiw-section-item {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.hiw-section .hiw-section-item .item-left img {
	    max-width: 200px;
	}
	.hiw-section .hiw-section-item .item-right p {
	    font-size: 17px;
	    line-height: 27px;
	}
	
	.pa-header .nav-overlay {
    display: none;
	}
	.pa-nav .nav.nav-tabs {
    margin-top: 15px;
    position: relative;
	top:0;
}

.pa-nav .nav.nav-tabs a {
    color: #18648c;
}
.pa-sidebar .agent-info .agent-profile, .pa-sidebar .agent-text h3, .pa-sidebar .agent-text span 
{
	display:none;
}
.sd
{
	position:relative;
	display:inline;
}

.pa-sidebar .agent-info .agent-icon
{
	display:none;
}
.pa-nav .nav-tabs > li.active > a:after {
    background-color: #1B6B95;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.navbar-default .db-navbar-right > li:first-child {
    border-bottom: 0 none;
}
	.explore-camp-search .explore-camp-search-wrap li {

    padding: 20px 15px;
}
#custom-search-input {
    margin-left: 0;
    margin-top: 5px;
  }
  	.explore-camp-search .explore-camp-search-wrap li {
    padding: 20px 15px;
    text-align: center;
    width: 32%;
}
.explore-camp-search .explore-camp-search-wrap li:nth-child(3n) {
    border: 0 none;
}
.explore-camp-search .explore-camp-search-wrap li:last-child {
    border-right: 1px solid #ddd; ;
}
.or {  
    display: none;
 }
.add-pro-right:before{display: none;}
.return-calculator li{border: 0 }
.pa-sidebare-wrap {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    position: relative;
    top: -180px;
}
.pa-sidebar {
    padding: 0;
    text-align: center;
}
.pa-sidebar-social {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 12px;
    padding: 0;
    text-align: center;
}

    .pa-sidebar-bottom {
    display: none;
}
.pa-nav {
    margin-top: -140px;
    position: relative;
}
.pa-sidebar .agent-text .btn-default {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.pa-sidebar-social .socail-icon a {
    color: #FFFFFF;}
.msg-full .panel-footer
{position: relative;}
.navbar-default .db-navbar-right > .dropdown li a {
    color: #929292;
    font-weight: 300;
    padding: 15px 5px;
}
.navbar-default .db-navbar-right > .dropdown li {
    border-top: 1px dotted #252525;
}
.navbar-default .db-navbar-right > .dropdown li a:hover
{
color: #fff !important;
}

}
@media screen and (max-width: 767px) {
	.newsletter {
		margin-top: 30px;	
	}	
	.newsletter .footer-title {
	    margin-bottom: 10px;
	}
	.full-bg-img {
	    padding: 0px 0px;
	}
	.full-bg-img .whiteBox {
		margin-left: -15px;
		margin-right: -15px;
		box-shadow: none;
	}
	.email-login {
	    float: none;
	    width: 100%;
	    padding-left: 0px;
	}
	.social-login {
	    float: none;
	    width: 100%;
	    padding-right: 0px;
	    padding-top: 35px;
	    margin-top: 35px;
	}
	.sc-divider {
	    height: inherit;
	    width: 100%;
	    left: 0;
	    text-align: center;
	}
	.sc-divider .or {
	    top: 50%;
	    transform: translateY(-50%);
	    height: 35px;
	    display: inline-block;
	    line-height: 35px;
	    width: 35px;
	}
	.sc-divider:before {
	    width: 100%;
	    height: 1px;
	    left: 0;
	}	
	.home-campaigns .owl-prev {
	    left: -10px;
	}
	.home-campaigns .owl-next {
	    right: -10px;
	}
	.footer-links li {
	    margin-left: 0px;
	    float: left;
	    width: 50%;
	    text-align: left;
	}
	.footer-links li:after {
		display: none;
	}
	.startup-left ul li {
	    padding-right: 30px;
	}
	.home-background-image .image-wrapper {
	    height: 530px;
	}
	.home-search-area .search-bg {
	    display: block;
	    margin-left: 10%;
	    margin-right: 10%;
	}
	.home-search-area .select-search, .home-search-area .textbox-search ,.home-search-area .button-search {
	    float: none;
	    width: 100%;
	}
	.home-search-area .select-search .bootstrap-select {
		width: 100% !important;
	}
	.home-search-area .textbox-search {
		margin-top: -1px;
	}
	.home-search-area .textbox-search input[type="text"] {
	    width: 100%;
	}
	.home-search-area .button-search {
	    margin-top: 10px;
	}
	.home-search-area .button-search .btn-search {
	    width: 100%;
	}
	.main-slider .masthead {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.masthead .slider-text h2 {
	    font-size: 30px;
	}
	.masthead .slider-text p {
	    font-size: 15px;
	}
	.tab-white-box {
	   
	    padding-bottom: 0px;
	}
	.property-info-area {
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border-bottom: none;
	    text-align: center;
	}
	.property-info-area {
	    border-bottom: none;
	    text-align: center;
	}
	.property-info-area .property-info {
	    float: none;
	    display: block;
	}
	.propMore-info {
	    float: none;
	    display: block;
	    border-top: 1px solid #EAEAEA;
	    text-align: center;
	}
	.propMore-info li {
	    float: none;
	    display: inline-block;
	    padding-top: 15px;
	    text-align: left;
	}
	.property-info > li {
	    display: inline-block;
	}
	.propMore-info li:first-child {
    border: 0 none;
}
	.hiw-header .content-area .main-text h2, .content-title {
	    font-size: 35px;
	}
	.hiw-header .content-area .main-text p, .content-text {
	    font-size: 18px;
	}

	.team-list ul li .member-bio {
	    padding: 0px 0px;
	}
	.s-unit > .text
	{
		display:none;
	}
	.inv-counter .s-unit:before, .inv-counter .s-unit:after {
   
    margin-top: -3px; 
	}
	
	
.investment-head {
	padding: 40px 15px;
}
.soc-invite .btn-group {
    display: block;
    padding-bottom: 10px;
    width: 100%;
}

.pa-nav .nav > li > a {

    padding: 15px;
}
.pa-sidebare-wrap
{
	margin:0px 20px;
	}
	.msg-sort
	{
		padding:20px 20px;
	}
	.banner-section .image-wrapper{
		 max-height: 300px;		
		 min-height: 300px;
	}

}
@media screen and (max-width: 600px) {
	.suburbs-list > ul > li {
	    width: 100%;
	}	
	.startup-left ul li {
	    float: none;
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.home-search-area .search-bg {
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.image-container .after{
  
	font-size:0.7em;
}

.pp .pt li {
   
    padding: 5px 0 7px;
    width: auto;
}
#agentMail .modal-dialog {
    margin: 20px;
    max-width: 520px;
}
  	.explore-camp-search .explore-camp-search-wrap li {
    padding: 20px 15px;
    text-align: center;
    width: 100%;
	  border-bottom: 1px solid #EAEAEA;
	 border-right:0px;
}
.explore-camp-search .explore-camp-search-wrap .btn {
 
    padding: 10px 20px;
   
}
.explore-camp-search .explore-camp-search-wrap .cmn-btn .select-search .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}
 
.explore-camp-search .explore-camp-search-wrap li:nth-child(3n) {
    border-bottom: 1px solid #EAEAEA;
}
.explore-camp-search .explore-camp-search-wrap li:last-child {
    border-right: 0px ;
}
.explore-top-left {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.explore-head-right {
    float: left !important;
    margin-top: 10px;
}
.explore-camp-search .explore-camp-search-wrap li .plus {
  
    line-height: 33px;
    margin-bottom: 0;
    margin-top: 0;
}
.explore-camp-search .explore-camp-search-wrap li:last-child {
    border-bottom:0;
}
.explore-top .form-control::-moz-placeholder {
    color: #AAA9A9;
    font-size: 20px;
    opacity: 1;
}
.explore-top .form-control::-webkit-input-placeholder {
    color: #AAA9A9;
    font-size: 20px;
    opacity: 1;
}

.explore-top .form-control:-moz-placeholder { /* Firefox 18- */
    color: #AAA9A9;
    font-size: 20px;
    opacity: 1;
}

#custom-search-input button {
     font-size: 20px;  
    padding: 2px 0;
 
}
.explore-top-right .form-control {

    font-size: 20px;
    font-weight: 300;
    height: 30px;
  
}
.explore-top .form-control:-ms-input-placeholder {  
    color: #AAA9A9;
    font-size: 20px;
    opacity: 1;
}
}
@media screen and (max-width: 480px) {
	.property-info-area .property-info li {
		padding-left: 15px;
		padding-right: 15px;
	}
	.propMore-info li {
		display: block;
		text-align: center;
		border-left: none;
		border-bottom: 1px solid #EAEAEA;
	}
	.propMore-info li:last-child {
		border-bottom: none;
		padding-bottom:0;
	}
	.propMore-info li .icon-wrapper {
		float: none;
		margin-bottom: 10px;
	}
	.propMore-info li .info-name {
		float: none;
	}
	.sidebar-top {
		text-align: center;
	}
	.progressBar {
		float: none;
		display: inline-block;
	}
	.inv-title {
		float: none;
		display: block;
		margin-top: 10px;
	}
	
	.banner-section .image-wrapper .campaign-name .right-sec .company-name {
    display: block;
    margin-left: 0;
    padding-left: 0;
    position: relative;
}

.banner-section .image-wrapper .campaign-name .right-sec .campaignName {
	font-size:30px;
}
.banner-section .image-wrapper .campaign-name .right-sec .company-name:before {
	display:none;
}
	.page-title h2 {
	    font-size: 25px;
	}
.investor-amount
{
	position:relative;
}
.invite-link {
 
    font-size: 12px;
   
    padding: 0 10px;
 
}
.property-info > li {
   
    width: 32%;
}
.propMore-info li:last-child{

	border-top: 1px solid #EAEAEA;
}
}

@media (min-width: 1200px) {

}
@media (min-width: 992px) {

}
@media (min-width: 768px) {

}
@media (min-width: 480px) {
	
}