body {

    color: #868686;

    /*background: #32C2CD url(../img/bg-default.jpg) !important;*/
    background: #1b6b95;
}

#main-content {

    box-shadow: 0 0 10px #757575;

    -moz-box-shadow: 0 0 10px #757575;

    -webkit-box-shadow:0 0 10px #757575 ;

}

a, a:hover {

    text-shadow: none !important;

    color: #1b6b95;

	text-decoration:none;	

}

ul.faq-list li a:hover, ul.faq-list li a.active{

    background: #22C0CB;

}

#header.navbar .navbar-inner {

    /*background:#4e4e4e url("../img/top-bg.jpg") repeat-x !important;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#4e4e4e',GradientType=0)*/

    background:#FFF; 

    border-width: 0;

}



/*#header.navbar .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {

    background-color: #333 !important;

}*/



#header.navbar .divider-vertical {

    border-left-color: #2c2d2f;

    border-right-color: #181a1b;

}



#sidebar > ul > li > a {

    color: #fff !important;

}



#sidebar > ul > li a i {

    color: #fff !important;

}



#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {

    color: #fff !important;

    /*background: url("../img/side-bar-list-bg.png");*/
    background-color: rgba(0, 0, 0, 0.1);

    opacity: 1;

    border-radius: 4px !important;

}



#sidebar > ul > li.active > a{

    /*background: url("../img/side-bar-list-bg.png");*/
    background-color: rgba(0, 0, 0, 0.1);

    opacity: 1;

    border-radius: 4px !important;

}
#sidebar > ul > li.open, #sidebar > ul > li.active {

    /*background: url("../img/side-bar-list-bg.png");*/
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 4px !important;

}
#sidebar > ul > li.open a, #sidebar > ul > li.active > a{

    opacity: 1;

}

#sidebar > ul > li.open a:hover, #sidebar > ul > li.open:hover a, #sidebar > ul > li.active > a:hover, #sidebar > ul > li.active:hover > a, #sidebar > ul > li.active.has-sub> a{
    background: transparent;

}


#sidebar > ul > li > ul.sub > li > a {

    color: #fff;

}



.dropdown-menu li > a:hover,.dropdown-menu li > a:focus, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu .active > a:focus {

    background-color: #EEEEEE;

    background-image: none;

    color: #333333;

    filter: none;

    text-decoration: none;

}



/*#sidebar > ul > li > ul.sub > li {

    border-bottom: 1px solid #3393A2;

}



#sidebar > ul > li > ul.sub > li:last-child {

    border-bottom:none;

}*/



.chats li.out .name {

    color: #b14c4c;

}



.chats li.in .message {

    border-left: 2px solid #2f8e95;

}



.chats li.in .message .arrow {

    border-right: 8px solid #2f8e95;

}



.chats li.out .message .arrow {

    border-left: 8px solid #b14c4c;

}



.chats li.out .message {

    border-right: 2px solid #b14c4c;

}



/* Landscape phone to portrait tablet */

@media (max-width:979px) {

    #sidebar {

        background-color: #29a3ac !important;

        -webkit-border-radius: 4px !important;

        -moz-border-radius: 4px !important;

        border-radius: 4px !important;

    }



    #sidebar > ul > li > a {

        border-bottom: 1px solid #30c1cb !important;

    }



    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {

        border-bottom: 1px solid #30c1cb !important;

    }

}



/*----*/



/*lock*/



.lock-avatar-row, .lock-form-row .tarquoise  {

    background: #30c1cb;

}



.lock-avatar-row img {

    border:10px solid #5aced6;

}



.lock-identity span {

    color:#30c1cb;;

}



.lock-form-row .tarquoise {

    border:1px solid #30c1cb !important;

}



/*coming soon*/



.coming-soon .input-append .submit-btn {

    background: #2fbfca;

    color: #195e63;

}



.twt-color , .twt-color:hover, .blog .date .day{

    color: #2fbfca !important;

}



ul.social-link li a:hover, .blog .date .month {

    background: #2fbfca;

}





/*blog*/



.blog .date {

    border: 1px solid #2fc0ca;

}



.blog ul li a:hover, .blog-side-bar ul li a:hover { color: #2fc0ca; text-decoration: none;}



.blog .btn:hover {

    background: #2fc0ca;

}



.blog-side-bar ul.tag li a {

    background: #2fc0ca;

}



/*invoice-list*/





.invoice-list h5 {

    color: #2fc0ca;

}



/*about us*/



.about-us h4, .team-member h3, .team-member ul li a:hover, .contact-us h4 {

    color: #2badb6;

}

