<li><a href="http://themeforest.net/item/admin-lab-responsive-admin-dashboard-template/full_screen_preview/4701827" target="_blank">Some Link</a></li>
<li><a href="http://themeforest.net/item/admin-lab-responsive-admin-dashboard-template/full_screen_preview/4701827" target="_blank">Another Link</a></li>
<li>
  <a href="#" role="branch" class="tree-toggle closed" data-toggle="branch" data-value="GitHub_Repos">Some Structure</a>
  <ul class="branch">
    <li><a href="#">Events</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Feedbacks</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Sales</a></li>
    <li><a href="#">Revenue</a></li>
  </ul>
</li>
