/*!
 * Bootstrap CSS Tests
 */


/* Remove background image */
body {
  background-image: none;
}

/* Space out subhead */
.subhead {
  margin-bottom: 36px;
}
/*h4 {
  margin-bottom: 5px;
}
*/

.type-test {
  margin-bottom: 20px;
  padding: 0 20px 20px;
  background: url(../../docs/assets/img/grid-baseline-20px.png);
}
.type-test h1,
.type-test h2,
.type-test h3,
.type-test h4,
.type-test h5,
.type-test h6 {
  background-color: rgba(255,0,0,.2);
}


/* colgroup tests */
.col1 {
  background-color: rgba(255,0,0,.1);
}
.col2 {
  background-color: rgba(0,255,0,.1);
}
.col3 {
  background-color: rgba(0,0,255,.1);
}


/* Fluid row inputs */
#rowInputs .row > [class*=span],
#fluidRowInputs .row-fluid > [class*=span] {
  background-color: rgba(255,0,0,.1);
}


/* Fluid grid */
.fluid-grid {
  margin-bottom: 45px;
}
.fluid-grid .row {
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  color: #ddd;
  text-align: center;
}
.fluid-grid .span1 {
  background-color: #999;
}


/* Gradients */

[class^="gradient-"] {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.gradient-horizontal {
  background-color: #333333;
  background-image: -moz-linear-gradient(left, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(left, #555555, #333333);
  background-image: -o-linear-gradient(left, #555555, #333333);
  background-image: linear-gradient(to right, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=1);
}

.gradient-vertical {
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0);
}

.gradient-directional {
  background-color: #333333;
  background-image: -moz-linear-gradient(45deg, #555555, #333333);
  background-image: -webkit-linear-gradient(45deg, #555555, #333333);
  background-image: -o-linear-gradient(45deg, #555555, #333333);
  background-image: linear-gradient(45deg, #555555, #333333);
  background-repeat: repeat-x;
}

.gradient-vertical-three {
  background-color: #8940a5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b3ee), color-stop(50%, #7a43b6), to(#c3325f));
  background-image: -webkit-linear-gradient(#00b3ee, #7a43b6 50%, #c3325f);
  background-image: -moz-linear-gradient(top, #00b3ee, #7a43b6 50%, #c3325f);
  background-image: -o-linear-gradient(#00b3ee, #7a43b6 50%, #c3325f);
  background-image: linear-gradient(#00b3ee, #7a43b6 50%, #c3325f);
  background-repeat: no-repeat;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff00b3ee', endColorstr='#ffc3325f', GradientType=0);
}

.gradient-radial {
  background-color: #333333;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#555555), to(#333333));
  background-image: -webkit-radial-gradient(circle, #555555, #333333);
  background-image: -moz-radial-gradient(circle, #555555, #333333);
  background-image: -o-radial-gradient(circle, #555555, #333333);
  background-repeat: no-repeat;
}

.gradient-striped {
  background-color: #555555;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
