@media screen and (max-width: 1200px) {

.subscribe-area input
 {height: 30px;margin: 0 7px 0 0;padding: 5px;width: 189px;}
 .carousel-inner .item p {
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    text-align: center;
    width: 40%;
    margin: 8% 0 0 8%;
    color: #414042;
    position: relative;
    line-height: 30px;
}
.dollar-flower > img{
	display: none;
}
.b-cov{
	margin: 0 0 30px 0;
}
.cov-form input{
	width: 250px;
}
.covesta-slider  .carousel-inner > .item > img{
	max-width: 300px;
}
}
@media screen and (max-width: 992px) {
    .inv-cal-bx-wrp::after{
        right: -15%;
    }
.subscribe-area input
 {height: 30px;margin: 0 7px 0 0;padding: 5px;width: 189px;}
 .carousel-inner .item p {
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    text-align: center;
    width: 40%;
    margin: 8% 0 0 8%;
    color: #414042;
    position: relative;
    line-height: 30px;
}
.dollar-flower > img{
	display: none;
}
.b-cov{
	margin: 0 0 30px 0;
}
.cov-form input{
	width: 250px;
}

}
@media screen and (max-width: 767px) {
	.h1, h1{
		font-size: 25px;
	}
.covesta-slider{
	padding-bottom: 30px;
}
.covesta-slider  .carousel-inner > .item > img, .dollar-flower
{
	display: none;
}
.carousel-inner .item p{
	width: 100%;
	
	font-size: 20px;
padding: 0 10%;
margin: 0;
}
.covesta-slider .carousel-indicators {
   left: 50%;
   position: relative;
}
.w-i-box h1{
	font-weight: 300;
}
.input-symbol-dollar > input{
    width: 100%;
}
.subscribe-area {

    width: 100%;
    bottom: 0;
}
.subscribe-area lable{
	display: block;
	margin:0 0 20px 0;
}
.subscribe-area input {
    height: 30px;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 100%;
}
.subscribe-area .btn-subscribe{

}

.ec-banner img{
	/*max-width: 232px;*/
}
.masthead .slider-text h2{
	margin: 0 25px 20px 25px;
font-size: 25px;
}
.whyc-box::before, .whyc-box::after{
	display: none;	
}
.whyc-box{
	border-bottom: 6px solid #f29100;
	border-left: 0;
}
.become-covesta {
    
    padding: 50px 0;
}
.b-cov{
	margin-bottom: 30px;
	position: relative;
}
.b-cov .b-cov-img {
    display: inline-block;
    float: right;
}
.b-cov-img img {
    max-width: 130px;
}
.b-cov .b-cov-txt {
    text-align: left;
    display: inline-block;
}
.b-cov-badge {
    background-color: #bcbec0;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    display: inline-block;
    height: 70px;
    padding: 14px;
    position: relative;
    width: 70px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.inv-amnt {
    text-align: center;
    margin-top: 100px;
}
.inv-cal-bx-wrp::after {
    color: orange;
    content: "=";
    font-size: 60px;
    right: 0;
    position: absolute;
    bottom: -100px;
    left: 47%;
    top: unset;
}
.inv-fea > li {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
}
.registerdiv p{
	padding: 0;
}
.cov-form input{
	width: 100%;
}
.ec-home-brand img{
	

}

    .carousel-inner .item p::before, .carousel-inner .item p::after{
    	display: none;
    }
  
    .b-cov .b-cov-txt{
    	min-height: auto;
    }
.inv-cal-bx > input{
	width: 100%;
}
.inv-fea-wrp{
	background-color: transparent;
}
.covesta-slider .carousel-indicators{
	display: none;
}

.masthead .ec-home-brand img{

}
  .masthead{
        position: relative;
        max-width: 400px;
    }
 .operation-sec{
        height: auto;
    }
    .subscribe-area{
        position: relative;
    }    
.subscribe-area lable{
    display: block;
    margin:0 0 10px 0;
}
.subscribe-area input {
    height: 30px;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 100%;
}

}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {


}

@media (min-width: 1200px) {

}
@media (min-width: 992px) {

}
@media (min-width: 768px) {

}
@media (min-width: 480px) {
	
}